@model LoginVm
@{
    ViewData["Title"] = "Login";
}
<style>
    #loginFail {
        color: red;
    }
</style>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" type="email" class="form-control" required id="username" aria-describedby="emailHelp">
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" required type="password" id="password" class="form-control">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <a class="btn btn-outline-primary" onclick="Login()">Login</a>
                </form>
                <div id="loginFail"></div>
            </div>
        </div>
    </div>
</div>

