@model List<ArticleVm>

<form>
    <label for="articleTitle">Select Article:</label>
    <select id="articleTitle" class="form-control" onchange="GetSelectedArticleContent()">
        <option value="">-- Select Article --</option>
        @foreach (var item in Model)
        {
            <option id="title" value="@item.Title|@item.Content">@item.Title</option>
        }
    </select>

    <div id="articleContentDiv">
    </div>
</form>

