@model GetContentVm
<head>

    <style>

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h3 {
            font-size: 1.2em;
        }

        .question-container {
            margin-top: 20px;
        }

        .question {
            margin-bottom: 20px;
            text-align: center;
        }

        .answer-option {
            margin-right: 10px;
            width: 200px;
            padding: 8px;
            font-size: 14px;
        }

        label {
            display: inline-block;
            width: 120px;
            text-align: right;
            margin-right: 10px;
        }

        #correct-answer {
            width: 300px;
            margin-top: 20px;
            font-size: 16px;
        }

        textarea {
            width: 80%;
            height: 100px;
            padding: 8px;
            font-size: 14px;
        }
    </style>
</head>

<hr />
<p id="content">@Html.Raw(Model.Content)</p>
<hr />

<div class="question-container">

    @for (int i = 1; i < 5; i++)
    {
        <div class="question">
            <label class="row" for="question@(i)"><b>Question @i :</b></label>
            <textarea id="question@(i)" name="question@(i)" placeholder="Your question..." style="width: 80%;"></textarea>
            <br>

            <br>

            <input type="text" id="option@(i)_1" class="answer-option" placeholder="A">
            <input type="text" id="option@(i)_2" class="answer-option" placeholder="B">
            <input type="text" id="option@(i)_3" class="answer-option" placeholder="C">
            <input type="text" id="option@(i)_4" class="answer-option" placeholder="D">
            <br>
            <br>
            <!-- Doğru Cevap Alanı -->
            <label for="correct-answer">Correct Answer :</label>
            <input type="text" id="correct-answer@(i)" placeholder="Answer Choice">
            <br>
        </div>
        <br />
        <hr />
    }
    <!-- Diğer Sorular -->
    <!-- ... -->

</div>
<button type="button" onclick="CreateExam()" class="btn btn-primary">Create Exam</button>

